{% extends 'base.html' %} {% load tailwind_filters %} {% load crispy_forms_tags %}{% block content %}

<div class="container rounded-xl shadow-2xl bg-stone-200">
</div>
{% if user_form_errors %}
<div role="alert">
  <div id="form_errors">
    {% for key, value in user_form.errors.items %}
    <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>

      {% endfor %}
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
  {% endif %}
  <div class="form-content">
      <form class="bg-stone-200 shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" enctype="multipart/form-data">
          {% csrf_token %}
              <div class="mb-4">
                      <label class="block text-gray-700 text-sm font-bold mb-2">Name: </label>
                          {{ profile_form.name }}
                      <label class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
                          {{ profile_form.email }}
                  </div>
                  <div class="mb-6">
                      <hr>
                      <label class="block text-gray-700 text-sm font-bold mb-2">Change Avatar:</label>
                      {{ profile_form.avatar }}
                  </div>
                  <label class="block text-gray-700 text-sm font-bold mb-2">Phrase of the Day: </label> {{ profile_form.phrase }}
  
          <br><br>
          <button type="submit" class="px-5 py-3 rounded-xl bg-red-200 hover:bg-red-300">Save Changes</button>
      </form>
  </div>
</div>

</div>
{% endblock %}