{% extends 'base.html' %} {%load static%} {% block content %}

<h1 class="mb-10 text-3xl lg:text-6xl text-pink-900">Meet our team!</h1>

<p class="mb-10">We are excited to see you in our virtual space</p>

<div class=" w-full flex flex-wrap items-start">
    <div class="w-full lg:w-1/3 px-3 py-3">
      <div class="p-4 bg-stone-200 shadow-2xl rounded-xl text-center">
        <img class="mb-8 w-11/12 h-auto rounded-full bg-white" src="{% static 'chalala/images/asti.png' %}">
        <h2 class="mb-5 text-3xl">ASTI</h2>
        <p>A creative-minded, solution-driven full-stack software developer with a passion for responsive, intuitive, unique design and function. My previous experiences in creative, mental health, and customer service areas informs everything that I do, such as my ability to adapt quickly and stay motivated to find best possible solutions for challenging problems. I bring someone who is professional, progressive, and easy to work with.
        </p>
        </div>
        </div>
        <div class="w-full lg:w-1/3 px-3 py-3">

        <div class="p-4 bg-stone-200 shadow-2xl rounded-xl text-center">

            <img class=" mb-8 w-11/12 h-auto rounded-full bg-white" src="{% static 'chalala/images/dalton.png' %}">
            <h2 class="mb-5 text-3xl">DALTON</h2>
            <p>I’m a software engineer with a history in the arts working on sets as an actor and production assistant. As a performer, I learned to pay close attention to detail, be persistent and self-motivating, and face new challenges with a can-do attitude. I’m now excited to use what I’ve learned to provide comprehensive solutions in the world of software development!</p>
            </div>
            </div>
            <div class="w-full lg:w-1/3 px-3 py-3">
            <div class="p-4 bg-stone-200 shadow-2xl rounded-xl text-center">
                <img class="mb-8 w-11/12 h-auto rounded-full" src="{% static 'chalala/images/lc.png' %}">
                <h2 class="mb-5 text-3xl">LC</h2>
                <p>'m a solutions-focused software developer with a background in comedy writing and pet care. My passion is for seeing the 'big picture' in the details and finding ways to communicate that to different audiences, depending on their needs and objectives.
                </p>
                </div>
        </div>
        </div>

{% endblock %}
