{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Chalala</title>
</head>

<body class="bg-stone-100">
        <nav class="flex flex-wrap justify-between items-center px-4 py-6 bg-rose-100">
            <div>
                <a href="{% url 'home'%}" class="text-3xl text-pink-900">&nbsp;&nbsp;CHALALA</a>
            </div>
            {% if user.is_authenticated %}
            <div class="flex items-center space-x-4">
                <a class="bg-white rounded-xl hover:bg-red-200 py-3 px-5 shadow-2xl text-pink-900" href="{% url 'about' %}">About</a>
                {%if user.profile %}
                <a class="bg-white rounded-xl hover:bg-red-200 py-3 px-5 shadow-2xl text-pink-900" href="{% url 'profile' %}">Profile</a>
                {%else%}
                <a class="bg-white rounded-xl hover:bg-red-200 py-3 px-5 shadow-2xl text-pink-900" href="{% url 'profile_create' %}">Create Profile</a>
                {%endif%}
                <a class="bg-white rounded-xl hover:bg-red-200 py-3 px-5 shadow-2xl text-pink-900"href="{% url 'index' %}">Chats</a>
                <a class="bg-white rounded-xl hover:bg-red-200 py-3 px-5 shadow-2xl text-pink-900"href="{% url 'logout' %}">Log Out</a>
                {% else %}
                <a class="bg-red-200 rounded-xl hover:bg-red-300 py-3 px-5 shadow-2xl text-pink-900" href="{% url 'signup' %}">Sign Up</a>
                <a class="bg-white rounded-xl hover:bg-stone-300 py-3 px-5 shadow-2xl text-pink-900" href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>
        </nav>
        
        <div class="p-10 lg:p-20 text-center text-pink-900">
        {% block content %}
        {% endblock %}
<div>
    <footer class="text-center
    fixed
    inset-x-0
    bottom-0
    p-4
    bg-red-100">
        <div class="text-pink-900">All Rights Reserved, &copy; 2022 Asti, Dalton, LC&nbsp;</div>
    </footer>
</body>
</html>
</body>
</html>