{% extends 'base.html' %} {% block content %}

<div>
  <div>
    <div class="card">
      <p>{{chat.name}}</p>
      <a href="{% url 'chats_delete' chat.id %}">delete button</a>
    </div>
  </div>
</div>

<div>
  <div>
    <table class="">
      <thead>
        <tr>
          <th>Date</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {% for message in chat.message_set.all %}
        <tr>
          <td>{{message.date}}</td>
          <td>{{message.text}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="{% url 'add_message' chat.id %}" method="POST">
      {% csrf_token %} {{ message_form.as_p }}
      <input type="textarea" />

      <input
        type="submit"
        class="px-5 py-3 block shadow rounded-xl bg-red-200 hover:bg-red-300"
        value="Send"
      />
    </form>
  </div>
</div>

{% endblock %}
